In [84]:
import pandas as pd
citibike_original = pd.read_csv('C:/Users/olgav/IDE/SF_pandas/p11_pandas/data/citibike-tripdata.csv', sep=',')
citibike_original.shape
citibike = citibike_original.copy()
citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [85]:
citibike.head(3)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,00:05.3,27:20.6,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,00:11.3,02:23.5,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,00:20.6,55:58.5,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1

In [ ]:
citibike_short = citibike.drop(['start station id', 'end station id'], axis = 1)
citibike_short.shape

In [ ]:
# сколько пропусков в колонке start station id 
citibike['starttime'].count() - citibike['start station id'].count()

In [ ]:
# самая популярная стартовая стоянка
display(citibike['start station id'].mode()[0])

In [ ]:
# самый популярный байк
display(citibike['bikeid'].mode())

In [ ]:
citibike.nunique()

In [ ]:
# доля клиентов преобладающего типа
citibike['usertype'].value_counts(normalize=True)

In [ ]:
citibike['gender'].value_counts()

In [ ]:
citibike['start station name'].value_counts()
#  citibike['end station name'].value_counts()

In [ ]:
# сколько было участников старше 60 
citibike['age'] = 2018 - citibike['birth year']
print(citibike[citibike['age'] > 60].shape[0])

In [ ]:
citibike.head(3)

In [ ]:
# средняя длительность поездки в секундах 
citibike['starttime'] = pd.to_datetime(citibike['starttime'])
citibike['stoptime'] = pd.to_datetime(citibike['stoptime'])
citibike['trip_duration'] = (citibike['stoptime'] - citibike['starttime'])
display(citibike['trip_duration'].mean().seconds)

In [89]:
weekday = citibike['starttime'].dt.dayofweek
citibike['weekend'] = weekday.apply(lambda x: 1 if x==5 or x==6 else 0)
citibike['weekend'].sum()

AttributeError: Can only use .dt accessor with datetimelike values