In [53]:
import pandas as pd
melb_data = pd.read_csv('C:/Users/olgav/IDE/SF_pandas/p11_pandas/data/melb_data_ps.csv', sep=',')
melb_df2=melb_data.copy()
melb_df2.shape

(13580, 23)

In [54]:
melb_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

#### We take 49 most popular elements in colum 'SellerG', all other we classify as 'other'

In [55]:
popular_seller = melb_df2['SellerG'].value_counts().nlargest(49).index          # 49 самых популярных продавцов
melb_df2['SellerGroup']= melb_df2['SellerG'].apply(lambda x: x if x in popular_seller else 'other') 
display(melb_df2['SellerGroup'])                                                # остальных продавцов включить в группу Other

nelson = melb_df2[melb_df2['SellerGroup'] == 'Nelson']['Price'].min()           # сравнить цены по группам Nelson и Other
other = melb_df2[melb_df2['SellerGroup'] == 'other']['Price'].min()
display(nelson / other)

0          Biggin
1          Biggin
2          Biggin
3          Biggin
4          Nelson
           ...
13575       Barry
13576    Williams
13577       Raine
13578     Sweeney
13579     Village
Name: SellerGroup, Length: 13580, dtype: object

1.297709923664122

In [56]:
melb_df2['Address'].nunique()   # we calculated number of unique elements in column 'Address'

13378

In [57]:
print(melb_df2['Address'].loc[177])         # access to elements with different indexes .loc[]
print(melb_df2['Address'].loc[1812])
print(melb_df2['Address'].loc[9001])

2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

#### We create new feature to group data from 'Address' column

In [58]:
def get_street_type(address):                           # На вход данной функции поступает строка с адресом.
    exclude_list = ['N', 'S', 'W', 'E']                 # Создаём список географических пометок exclude_list.
    address_list = address.split(' ')                   # Метод split() разбивает строку на слова по пробелу.
    street_type = address_list[-1]                      # Последний элемент,
    if street_type in exclude_list:                     # проверяем наличие в exclude_list
        street_type = address_list[-2]                  # если да, то берем второй элемент с конца
    return street_type  

street_types = melb_df2['Address'].apply(get_street_type)
display(street_types.nunique())

56

#### We replace another spelling to normal spelling of the element

In [59]:
def clear_street_type(street_type):
    if street_type == 'Avenue':
        street_type = 'Av'
    elif street_type == 'Boulevard':
        street_type = 'Bvd'
    elif street_type == 'Parade':
        street_type = 'Pde'
      
    return street_type

In [60]:
street_types = melb_df2['Address'].apply(get_street_type)

In [61]:
melb_df2['StreetType'] = street_types.apply(clear_street_type)
display(melb_df2['StreetType'].nunique())

53

In [62]:
#popular_seller = melb_df2['SellerG'].value_counts().nlargest(49).index          # 49 самых популярных продавцов
#melb_df2['SellerGroup']= melb_df2['SellerG'].apply(lambda x: x if x in popular_seller else 'other') 

popular_stypes = melb_df2['StreetType'].value_counts().nlargest(14)
melb_df2['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df2['StreetType'].nunique())

15

In [63]:
print(street_types.nunique())

56

In [64]:
display(street_types.value_counts())

St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: Address, dtype: int64

In [65]:
popular_stypes =street_types.value_counts().nlargest(10).index
print(popular_stypes)
# Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')
melb_df2['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df2['StreetType'])

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [66]:
print(melb_df2['StreetType'].nunique())
# 11
melb_df2 = melb_df2.drop('Address', axis=1)

11

In [67]:
melb_df2['SellerG'].value_counts()
melb_df2['SellerG'].value_counts().nlargest(49)
melb_df2

,index,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,SellerGroup,StreetType
0,0,Abbotsford,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,126.0,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984",Biggin,St
1,1,Abbotsford,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934",Biggin,St
2,2,Abbotsford,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944",Biggin,St
3,3,Abbotsford,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,126.0,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969",Biggin,other
4,4,Abbotsford,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941",Nelson,St
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150,...,126.0,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761",Barry,Cr
13576,13576,Williamstown,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016,...,133.0,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904",Williams,Dr
13577,13577,Williamstown,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016,...,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738",Raine,St
13578,13578,Williamstown,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299",Sweeney,St
13579,13579,Yarraville,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449",Village,St

#### Calculate how many sales happen during weekend

In [68]:
melb_df2['Date']=pd.to_datetime(melb_df2['Date'], dayfirst=True)        # we transfer date to Pandas date format
melb_df2['Weekday'] = melb_df2['Date'].dt.dayofweek                 # dt.dayofweek returns us 0-for Monday, ...5-for Saturday, 6-for Sunday 
weekend_count = melb_df2[(melb_df2['Weekday'] == 5) | (melb_df2['Weekday'] == 6)].shape[0] # '|' means 'or'
print(weekend_count)

12822

#### Feature engineering  - feature 'Weekend'. Calculate average Price during Weekend

In [69]:

def get_weekend(weekday):                                       # определяем, попадает ли день на weekend
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
melb_df2['Date']=pd.to_datetime(melb_df2['Date'], dayfirst=True) 
melb_df2['Weekday'] = melb_df2['Date'].dt.dayofweek             # создаем новый столбик в таблице с признаком Weekday
melb_df2['Weekend'] = melb_df2['Weekday'].apply(get_weekend)    # создаем новый столбик в таблице с признаком Weekend

melb_df2[melb_df2['Weekend'] == 1]['Price'].mean()              # определяем среднюю цену продажи в weekend

1081198.6406956792