# Realty data

In [68]:
import pandas as pd
print(pd.__version__)

1.4.2

### read the csv file

In [69]:
data = pd.read_csv('C:/Users/olgav/IDE/SF_pandas/p10_pandas/data/melb_data.csv', sep=',')

### price of the object with index 15

In [70]:
data.loc[15, 'Price']

1310000

### when object 90 was sold

In [71]:
data.loc[90, 'Date']

'10/9/2016'

how many times is landsize of index 3521 greater than index 1690)

In [72]:
data.loc[3521, 'Landsize'] / data.loc[1690, 'Landsize']

2.7857142857142856

In [73]:
display(data.head(5))

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,...,1,202,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/2/2016,2.5,...,0,156,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/3/2017,2.5,...,0,134,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,4/3/2017,2.5,...,1,94,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/6/2016,2.5,...,2,120,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [74]:
display(data.tail(3))

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13577,13577,Williamstown,83 Power St,3,h,1170000,S,Raine,26/08/2017,6.8,...,4,436,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26/08/2017,6.8,...,5,866,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26/08/2017,6.3,...,1,362,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449"

In [75]:
display(data.shape)

(13580, 23)

In [76]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  int64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  int64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(4), int64(10), object(9)
memory usage: 2.4+ MB

None

In [77]:
data['Car'] = data['Car'].astype('int64')
data['Bedroom'] = data['Bedroom'].astype('int64')
data['Bathroom'] = data['Bathroom'].astype('int64')
data['Propertycount'] = data['Propertycount'].astype('int64')
data['YearBuilt'] = data['YearBuilt'].astype('int64')
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  int64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  int64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(4), int64(10), object(9)
memory usage: 2.4+ MB

None

In [78]:
data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [79]:
data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [80]:
data['Regionname'].value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [81]:
data['Regionname'].value_counts(normalize=True)

Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: Regionname, dtype: float64

In [82]:
data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [83]:
print(data['Price'].mean())
print(data['Car'].max())
rate = 0.12
income = data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))
landsize_median = data['Landsize'].median() 
landsize_mean =  data['Landsize'].mean()
print('(median minus mean) as share of mean', abs(landsize_median - landsize_mean)/landsize_mean)
print(data['Rooms'].mode())
print(data['Regionname'].mode())
print(data['Propertycount'].max())
print(data['Distance'].std())
Building_median = data['BuildingArea'].median()
Building_mean = data['BuildingArea'].mean()
print((Building_median - Building_mean)/Building_mean)

1075684.079455081
10
Total income of real estate agencies: 1752934775.88
(median minus mean) as share of mean 0.21205713983546193
0    3
Name: Rooms, dtype: int64
0    Southern Metropolitan
Name: Regionname, dtype: object
21650
5.868724943071692
-0.09764079662364533

In [84]:
b = pd.Series([1, 2, 4, 2, 3, 2, 1, 5, 6])
print(b.mode())

0    2
dtype: int64

In [85]:
print(data['Bedroom'].mode())
print(data[data['Type'] == 't']['Rooms'].max())  
mean_price = data['Price'].mean()
print(data[data['Price'] > mean_price]['BuildingArea'].median())

0    3
Name: Bedroom, dtype: int64
5
126.0

In [87]:
print(data[data['Bathroom'] == 0].shape[0])
print(data[(data['SellerG'] == 'Nelson') & (data['Price'] > 3000000)].shape[0])
print(data[data['BuildingArea'] == 0]['Price'].min())

34
5
412500

In [94]:
data[(data['Price'] < 1000000) & ((data['Rooms'] > 5) | (data['YearBuilt'] > 2015)) ]['Price'].mean()

769238.6363636364

In [95]:
data[data['Type'] == 'h']['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object