In [ ]:
import pandas as pd
ratings_movies = pd.read_csv('C:/Users/olgav/IDE/SF_pandas/P12_pandas/data/ratings_movies.csv')
ratings_movies.shape
ratings_movies.info()
ratings_movies.head(2)

In [ ]:
import re                                       # библиотека для регулярных выражений
def get_year_release(arg):                      
    candidates = re.findall(r'\(\d{4}\)', arg)  # находим все слова по шаблону "(DDDD)"
                                                # проверяем число вхождений  
    if len(candidates) > 0:                     # если число вхождений больше 0,
        year = candidates[0].replace('(', '')   # очищаем строку от знаков "(" и ")"
        year = year.replace(')', '')            # очищаем строку от знаков "(" и ")"
        return int(year)
    else:
        return None                                # если год не указан, возвращаем None
        return

In [ ]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
# ratings_movies['year_release'] = ratings_movies['year_release'].astype('int64')
ratings_movies.info()
ratings_movies.tail(3)

In [ ]:
mask = ratings_movies['year_release'] == 2010
ratings_movies[mask].groupby('genres')['rating'].mean().sort_values()

In [ ]:
mask = ratings_movies['year_release'] == 1999
ratings_movies[mask].groupby('title')['rating'].mean().sort_values()

In [ ]:
ratings_movies.groupby('userId')['genres'].nunique().sort_values(ascending=False)

In [ ]:
# найти userId, который выставил меньше всего оценок, при этом балл был наибольшим
ratings_movies.groupby('userId')['rating'].agg(['count', 'mean']).sort_values(by='mean', ascending=False).sort_values(by='count', ascending = True)

In [ ]:
# жанры в 2018 году с наибольшим средним рейтингом, при этом количество выставленных оценок больше 10
mask = ratings_movies['year_release'] == 2018
grouped = ratings_movies[mask].groupby('genres')['rating'].agg(['mean', 'count'])
grouped[grouped['count']>10].sort_values(by='mean', ascending = False)

In [146]:
# добавить признак year_rating - год выставления оценки
ratings_movies['year_rating'] = pd.to_datetime(ratings_movies['date']).dt.year
ratings_movies.tail()
# cоздать сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра
pivot_rating = ratings_movies.pivot_table(
    values='rating',
    index = 'genres',
    columns = 'year_rating',
    aggfunc = 'mean',
    fill_value = 0
)
display(pivot_rating)

year_rating,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
genres,,,,,,,,,,,,,,,,,,,,,
(no genres listed),0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.500000,3.500000,3.000000,3.676471
Action,2.730769,3.538462,0.0,0.0,2.588235,3.000000,2.750000,3.833333,2.700000,3.357143,...,0.000000,3.500000,4.500000,2.625000,2.500000,0.000,3.100000,3.545455,2.637931,2.588235
Action|Adventure,3.454545,4.150000,4.2,4.0,3.738462,3.500000,4.304348,3.277778,4.136364,3.413043,...,3.714286,3.437500,3.888889,3.900000,3.833333,3.875,3.560976,3.722222,3.527778,3.397436
Action|Adventure|Animation,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.000,3.800000,3.750000,3.375000,3.650000
Action|Adventure|Animation|Children,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.000000,3.000000,3.500,3.666667,3.833333,3.500000,3.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sci-Fi|Thriller,2.666667,3.400000,0.0,4.0,2.142857,2.500000,3.600000,3.142857,0.000000,2.750000,...,4.000000,2.500000,1.833333,3.500000,3.833333,0.000,3.764706,3.916667,3.750000,3.562500
Sci-Fi|Thriller|IMAX,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4.000000,3.666667,4.000000,4.000,4.000000,3.666667,2.500000,0.000000
Thriller,3.838095,3.923077,3.8,3.7,3.087912,3.477273,3.583333,3.250000,3.464286,3.411765,...,2.964286,2.833333,3.625000,3.083333,3.666667,4.000,2.911765,3.432432,3.152174,3.296296
War,0.000000,0.000000,0.0,4.5,3.000000,3.000000,3.500000,3.000000,3.000000,0.000000,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
Western,3.117647,3.000000,0.0,4.0,4.058824,3.111111,3.000000,4.000000,3.800000,4.500000,...,3.375000,3.666667,4.000000,4.100000,4.000000,4.000,3.900000,3.958333,2.933333,3.611111

In [155]:
#mask = pivot_rating.columns > '1996' and pivot_rating.columns < 2018
display(pivot_rating[pivot_rating.index == 'Action|Adventure'])
display(pivot_rating[pivot_rating.index == 'Comedy'])
display(pivot_rating[pivot_rating.columns == '2018'])

year_rating,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
genres,,,,,,,,,,,,,,,,,,,,,
Action|Adventure,3.454545,4.15,4.2,4.0,3.738462,3.5,4.304348,3.277778,4.136364,3.413043,...,3.714286,3.4375,3.888889,3.9,3.833333,3.875,3.560976,3.722222,3.527778,3.397436

year_rating,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
genres,,,,,,,,,,,,,,,,,,,,,
Comedy,3.228571,3.409091,3.0,3.606061,3.141291,3.318408,3.198556,3.120066,3.356877,2.963325,...,3.273292,3.179825,3.232877,3.478477,3.489474,3.271429,3.106183,3.373431,2.852668,3.121296

ValueError: Item wrong length 23 instead of 951.