In [28]:
import pandas as pd

In [29]:
st_data = pd.read_csv('C:/Users/olgav/IDE/SF_pandas/p10_pandas/data/students_data.csv', sep=',')

In [38]:
st_data.shape # размеры таблицы

(1000, 8)

In [30]:
st_data.tail(3) # проверяем, загрузилась ли таблица; для этого выводим 3 последних строки

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [31]:
st_data.loc[155, 'writing score'] # какой балл по письму у студента под индексом 155

88

In [32]:
st_data.info()   # информация о столбцах таблицы

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [33]:
st_data.describe()  # основные статистические характеристики по числовым значениям

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [34]:
st_data.describe(include=['object'])   # основные статистические хар-ки по значениям типа object

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [35]:
st_data[st_data['test preparation course'] == 'completed']['reading score'].mean()
# средний балл по чтению у студетнов, которые посещали курсы подготовки к экзаменам

73.89385474860335

In [37]:
st_data[st_data['math score'] == 0].shape # сколько студентов получили 0 баллов по математике

(1, 8)

In [41]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, 
# чем у студентов с льготным питанием.
print(st_data[st_data['lunch'] == 'standard']['math score'].mean())
st_data[st_data['lunch'] == 'free/reduced']['math score'].mean()

70.03410852713178

58.92112676056338

In [43]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата 
# (bachelor's degree)?
st_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [49]:
a = st_data[st_data['race/ethnicity'] == 'group A']['writing score'].mean()
c = st_data[st_data['race/ethnicity'] == 'group C']['writing score'].mean()
a - c

-5.153428903525771