In [54]:
import pandas as pd
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo_df = ufo_data.copy()
ufo_df.tail(5)
ufo_df[ufo_df['State'] == 'NV'].tail(10)

            City Colors Reported Shape Reported State              Time
17089  Las Vegas             NaN       FIREBALL    NV    8/3/2000 22:30
17117  Las Vegas             RED      FORMATION    NV     8/6/2000 0:30
17236    Gerlach             NaN            NaN    NV   8/18/2000 21:00
17238    Gerlach             NaN          OTHER    NV   8/18/2000 22:51
17290  Las Vegas             NaN          FLASH    NV   8/25/2000 22:00
17447   Laughlin             NaN      FORMATION    NV   9/16/2000 22:00
17567  Las Vegas             NaN         SPHERE    NV   9/30/2000 22:25
17617  Las Vegas      RED YELLOW          OTHER    NV   10/6/2000 20:25
17890       Reno             NaN       TRIANGLE    NV    11/7/2000 2:15
18104  Las Vegas             NaN       TRIANGLE    NV  12/10/2000 17:30

In [55]:
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [56]:
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst = True)
ufo_df['Year'] = ufo_df['Time'].dt.year
# в каком году больше всего наблюдали НЛО
ufo_df['Year'].mode()

0    1999
Name: Year, dtype: int64

In [58]:
# Найдите средний интервал времени (в днях) между двумя последовательными случаями 
# наблюдения НЛО в штате Невада (NV).

ufo_df['Date'] = ufo_df['Time'].dt.date 
#mask = ufo_df['State'] = 'NV'
ufo_df[ufo_df['State'] == 'NV']['Date'].diff().dt.days.mean()

68.72084805653711